.customer__table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
      width: 100;

  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .customers__table__delete{
    background-color: rgb(112, 31, 31);
  }
  .create-btn{
    background-color: aquamarine;
  }